*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}



:root {
    --primary: #0D7C66;
    --green-dark: #09614f;
    --abu: #dddfe2;
    
}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

.header {
    width: 100%;
}

.header nav {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.7);
    padding: 15px 30px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}


.header .nav-logo h1{
    font-family: 'Great Vibes',sans-serif;
    font-size: 30px;
    color: var(--primary);
    cursor: pointer;
}

.header .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74%;
    padding-left: 3rem;
}

.header .nav-links ul {
    display: flex;
    gap: 30px;
}

.header .nav-links ul li {
    list-style-type: none;
}

.header .nav-links ul li a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
}

.header .hamburger-menu i {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    display: none;
}

.header .nav-links ul li a:hover {
    color: var(--green-dark);
    transition: all 0.3s;
}

.header .btn-nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header .btn-nav .btn-register a{
    color: var(--primary);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
}

.header .btn-nav .btn-register a:hover {
    background-color: var(--primary);
    color: white;
    transition: all 0.5s;
}

.header .btn-nav .btn-login {
    background-color: var(--primary);
    padding: 8px 15px;
    border-radius: 5px;
}

.header .btn-nav .btn-login:hover {
    background-color: var(--green-dark);
    transition: all 0.3s;
}

.header .btn-nav .btn-login a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.header .hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8%;
    padding: 30px 30px;
    position: relative;
}

.header .hero-section .hero-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header .hero-section .text-box h2 {
    font-size:30px;
}

.header .hero-section .text-box span {
    color: var(--primary);
}

.header .hero-section .text-box p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}



.header .hero-section .img-hero img {
    width: 600px;
    height: auto;   
    border-radius: 8px;
    margin-left: 70px;
}

.header .hero-section .btn-start {
    margin-top: 20px;
    background-color: var(--primary);
    width: fit-content;
    padding: 15px 15px;
    border-radius: 5px;
}

.header .hero-section .btn-start:hover {
    background-color: var(--green-dark);
    transition: all 0.5s;
}

.header .hero-section .btn-start a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.header .hero-section .img-hero-depan img{
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 8px;
    right: 25%;
    bottom: -16%;
    border: 10px solid white;
}


/* Fasilitas */

.fasilitas,
 .kamar,
 .review,
 .kontak {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
}

.fasilitas .fasilitas-title h2 , 
.kamar .kamar-title h2,
.review .review-title h2,
.kontak .kontak-title h2{
    font-size: 35px;
}

.fasilitas .fasilitas-title span , 
.kamar .kamar-title span,
.review .review-title span,
.kontak .kontak-title span{
    color: var(--primary);
}

.fasilitas .fasilitas-content  {
    width: 1200px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 25px;
    flex-wrap: wrap; 
}



.fasilitas .fasilitas-content  .fasilitas-col {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
    height: 190px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.fasilitas .fasilitas-content  .fasilitas-col:hover {
    transform: scale(1.03);
}

.fasilitas .fasilitas-deskripsi-title p {
    font-weight: 600;
    max-width: 900px;
    text-align: center;
    margin-top: 10px;
}


.fasilitas .fasilitas-content .fasilitas-col .fasilitas-img img {
    width: 80px;
    height: 80px;
    border: 1px dashed var(--primary);
    border-radius: 50%;
    padding: 10px 15px;
}

.fasilitas .fasilitas-content .fasilitas-col .fasilitas-deskripsi p {
    margin-top: 10px;
    font-weight: 600;
    color: var(--primary);
    font-size: 20px;
}



/* Kamar */
.kamar .kamar-content {
    width: 1200px;
    max-width: 1200px;
    align-items: center;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.kamar .kamar-content .kamar-filter form{
    display: flex;
    gap: 20px;
    width: 800px;
    justify-content: center;
}

.kamar .kamar-content .kamar-filter input[type="checkbox"], 
#dropdown-kasur,
#dropdown-harga {
    display: none;
}

.kamar .kamar-content .kamar-filter label {
    width: 100%;
    display: flex;
    border: 1px solid var(--primary);
    text-align: left;
    padding: 8px 15px;
    height: 60px;
    align-items: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.kamar .kamar-content .kamar-filter label::after {
    content: '';
    width: 8px;
    aspect-ratio: 1/1;
    display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    transform: rotate(45deg);
    right: 7%;
}

.kamar .kamar-content .kamar-filter #kasur:checked ~ #dropdown-kasur,
.kamar .kamar-content .kamar-filter #harga:checked ~ #dropdown-harga {
    display: block;
    z-index: 10;
}

#dropdown-kasur {
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
    width: 300px;
    padding: 10px 15px;
    position: absolute;
    border-radius: 5px;
    right: 51%;
    margin-top: 80px;
}

#dropdown-harga {
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
    width: 300px;
    padding: 10px 15px;
    position: absolute;
    border-radius: 5px;
    right: 20.5%;
    margin-top: 80px;
}



#dropdown-kasur ul li ,
#dropdown-harga ul li{
    list-style-type: none;
    margin-bottom: 15px;
    padding: 8px 15px;
    border-bottom: 1px solid var(--abu);
}

#dropdown-kasur ul li a,
#dropdown-harga ul li a{
    color: black;
    text-decoration: none;
}


#dropdown-harga ul li a:hover,
#dropdown-kasur ul li a:hover {
    color: var(--primary);
}


.kamar-content .kamar-card {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: center;
    margin-top: 60px;
    gap: 25px;
}

.kamar-content .kamar-card .kamar-col {
    height: 460px;
    background-color: white;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.7);
    flex-basis: 27%;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.kamar-content .kamar-col .kamar-img img {
    width: 100%;
    object-fit: cover;
    height: 220px;
    border-radius: 5px;
}

.kamar-content .kamar-col .kamar-nama h5 {
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 600;
}

.kamar-content .kamar-col .kamar-spesifikasi {
    width: 100%;
    display: flex;
    padding: 8px 15px;
    gap: 15px;
    font-weight: 300;
}

.kamar-content .kamar-col .kamar-spesifikasi .kamar-rating span {
    background-color: var(--primary);
    color: white;
    padding: 3px 15px;
    border-radius: 5px;
}

.kamar-content .kamar-col .kamar-spesifikasi .kamar-pembatas {
    width: 2px;
    height: 25px;
    background-color: #dddfe2;

} 



.kamar-content .kamar-col .kamar-deskripsi p {
    padding: 8px 15px;
    font-size: 14px;
    margin-top: 10px;
}

.kamar-content .kamar-col .pembatas hr {
    width: 90%;
    margin: 10px auto;
}

.kamar-content .kamar-col .kamar-booking a {
    padding: 8px 15px;
    text-decoration: none;
    color: var(--primary);
}

.kamar-content .kamar-col .kamar-booking a:hover {
    color: var(--green-dark);
    transition: all 0.3s;
}


/* Review */
.review .swiper {
    width: 1200px;
    display: flex;
    margin-top: 10px;
    height: 350px;
}



.review .swiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.review .swiper .swiper-button-next,
.review .swiper .swiper-button-prev {
    color: var(--primary);
}

.review .swiper .swiper-pagination-bullet {
   background-color: var(--primary);
}




.review .swiper .swiper-wrapper .swiper-slide .swiper-content {
    flex-basis: 42%;
    height: 250px;
    padding: 20px 30px;
    margin-left: 15px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;   
    transition: all 0.3s;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content:hover {
    
    border-bottom: 6px solid var(--primary);
}



.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-card-header {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 300px;
    height: fit-content;
    align-items: center;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-card-header img {
    width: 80px;
    height: 80px;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-rating ul {
    display: flex;
    gap: 5px;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-rating ul li {
    list-style-type: none;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-ulasan {
    padding: 10px 15px;
    margin-top: 8px;
}


/* Kontak */
.kontak .kontak-content {
    display: flex;
    width: 1100px;
    gap: 20px;
    justify-content: center;
    padding: 20px 30px;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.kontak .kontak-content .kontak-label { 
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.7);
    display: flex;
    flex-basis: 30%;
    gap: 20px;
    flex: 1;
    padding: 15px 30px;
    align-items: center;
    border-radius: 5px;
    height: 150px;
    cursor: pointer;
}

.kontak .kontak-content .kontak-label .kontak-label-left img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid var(--primary);
}

.kontak .kontak-content .kontak-label .kontak-label-right-title span {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
}

.kontak .kontak-content .kontak-label .kontak-label-right-alamat p {
    font-size: 17px;
    font-weight: 400;
}

.kontak .kontak-content .kontak-card-cta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
}

.kontak .kontak-content .kontak-card-cta .kontak-card-form {
    background-color: white;
    padding: 30px 30px;
    flex-basis: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.7);
}

.kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-card-form-title h2 {
    color: var(--primary);
    font-weight: 700;
    font-size: 25px;
}

.kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-card-form-deskripsi p {
    margin-top: 10px;
    font-weight: 300;
}

.kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
}

.kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form .form-col-dua {
    display: flex;
    width: 100%;
    gap: 10px;
}

.kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form .form-col-dua #nama,
.kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form .form-col-dua #email{
    flex-basis: 50%;
}

.kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form input {
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid var(--primary);
    outline: none;
}

.kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form textarea {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid var(--primary);
    outline: none;
}

.kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form .btn-kirim a {
    text-decoration: none;
    background-color: var(--primary);
    width: 100%;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 18px;
}


/* Footer */
.footer {
    background-color: var(--primary);
    display: flex;
    padding: 60px 60px;
    margin-top: 12%;
    gap: 20px;
}

.footer .footer-col {
    flex-basis: 28%;
}


.footer .footer-col .footer-title h3 {
    color: white;   
    font-size: 22px;
}

.footer .footer-col .footer-alamat i {
    padding-right: 10px;
}

.footer .footer-col .footer-alamat ul li {
    list-style-type: none;
    margin-top: 10px;
    font-weight: 300;
    cursor: pointer;
    color: var(--abu);
}

.footer .footer-col .footer-alamat ul li a {
    text-decoration: none;
    color: var(--abu);
}

.footer .footer-col .footer-alamat ul li a::before {
    content: '';
    position: relative;
    border-left: 2px solid var(--abu);
    border-bottom: 2px solid var(--abu);
    aspect-ratio: 1/1;
    display: inline-block;
    width: 5px;
    margin-right: 10px;
    margin-bottom: 3px;
    transform: rotate(220deg);
}

.footer .footer-col .footer-alamat ul li:hover,
.footer .footer-col .footer-sosialmedia img:hover ,
.footer .footer-col .footer-img img:hover{
    transition: all 0.3s;
    transform: scale(1.01);
}

.footer .footer-col .footer-sosialmedia img{
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin-right: 8px;
    margin-top: 12px;
}

.footer .footer-col .footer-img {
    width: 400px;
    margin-top: 10px;
}

.footer .footer-col .footer-img img{
    width: 100px;
    height: 60px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.footer .footer-col .footer-kerjasama-text p {
    margin-top: 10px;
    color: var(--abu);
}

.footer .footer-col .footer-kerjasama-form form {
    display: flex;
    gap: 20px;
    border: 1px solid var(--abu);
    padding: 8px 15px;
    align-items: center;
    height: 60px;
    border-radius: 5px;
    margin-top: 14px;
}

.footer .footer-col .footer-kerjasama-form input {
    border: none;
    background: transparent;
    color: var(--abu);
    outline: none;
}

.footer .footer-col .footer-kerjasama-form input::placeholder {
    color: var(--abu);
}

.footer .footer-col .footer-kerjasama-form .btn-kerjasama-submit a {
    text-decoration: none;
    color: var(--primary);
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}

.footer .footer-col .footer-kerjasama-form .btn-kerjasama-submit a:hover {
    transition: all 0.3s;
    background-color: var(--green-dark);
    color: white;
}


/* Media query */
@media(max-width: 600px) {


    .header .nav-logo h1 {
        font-size: 60px;
    }

    .header .nav-links {
        width: 50%;
    }
    

    .header .nav-links ul  {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 30px 30px;
        width: 250px;
        right: 3.5%;
        margin-top: 45%;
        display: none;
        background-color: var(--primary);
        height: fit-content;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.7);
        transition: display 0.4s;
        border-radius: 5px;
    }

    .header .nav-links ul::after {
        content: '';
        position: absolute;
        top: -6%;
        right: 6%;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom: 30px solid var(--primary);
    }

    .header .nav-links ul li a {
        color: white;
        font-size: 28px;
    }

    .header .btn-nav .btn-register a,
    .header .btn-nav .btn-login a {
        font-size: 30px;
    }

    .header .btn-nav {
        width: 500px;
        padding: 8px 8px;
    }

    .header  .hamburger-menu i {
        display: block;
        font-size: 60px;
        padding: 15px 20px;
    }


    .header .hero-section {
        display: flex;
        min-width: 1200px;
        margin-top: 30%;
        justify-content: center;
    }

    .header .hero-section .hero-content {
        display: flex;
        flex-direction: column-reverse;
        width: 1090px;
        align-items: start;
        padding: 15px 15px;
    }

    .header .hero-section .text-box h2{
        font-size: 55px;
        text-align: center;
        margin-top: 20px;
    }

    .header .hero-section .text-box p {
        font-size: 32px;
        font-weight: 600;
    }

    .fasilitas .fasilitas-deskripsi-title p {
        font-size: 32px;
        width: 1200px;
    }

    

    .header .hero-section .img-hero img {
        width: 990px;
        margin-left: 0;
    }

    .header .hero-section .img-hero-depan img {
        width: 400px;
        height: 400px;
        position: absolute;
        right: 5%;
        bottom: 40%;
    }

    .header .hero-section .btn-start a {
        font-size: 35px;
    }

    .fasilitas , 
    .kamar,
    .review,
    .kontak{
        display: flex;
        flex-direction: column;
        min-width: 1200px;
        margin-top: 33%;
    }

    .kontak .kontak-title h2,
    .review .review-title h2,
    .kamar .kamar-title h2,
    .fasilitas .fasilitas-title h2 {
        font-size: 60px;
    }

    .fasilitas .fasilitas-content {
        display: flex;
        max-width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    .fasilitas .fasilitas-content .fasilitas-col {
       flex-basis: 42%;
       height: 250px;
    }

    .fasilitas .fasilitas-content .fasilitas-col .fasilitas-img img {
        width: 140px;
        height: 140px;
    }

    .fasilitas .fasilitas-content .fasilitas-col .fasilitas-deskripsi p {
        font-size: 32px;
    }

    .kamar .kamar-content .kamar-filter {
        position: relative;
    }

    .kamar .kamar-content .kamar-filter label {
        font-size: 27px;
        height: 80px;
        font-weight: 600;
        
    }

    #dropdown-kasur {
        left: 11%;
        margin-top: 100px;
    }

    #dropdown-harga {
        right: 0;
        margin-top: 100px;
        width: 380px;
    }

    #dropdown-kasur ul li a,
    #dropdown-harga ul li a{
    font-size: 25px;
}

    .kamar-content .kamar-card  {
        gap: 40px;
    }
    

    .kamar-content .kamar-card .kamar-col {
        flex-basis: 85%;
        height: 730px;
    }

    .kamar-content .kamar-col .kamar-nama h5 {
        padding: 8px 15px;
        font-size: 35px;
        font-weight: 600;
    }
    
    .kamar-content .kamar-col .kamar-spesifikasi {
        width: 100%;
        display: flex;
        padding: 8px 15px;
        gap: 15px;
        font-weight: 300;
    }
    
    .kamar-content .kamar-col .kamar-spesifikasi .kamar-rating span {
        background-color: var(--primary);
        color: white;
        padding: 3px 15px;
        border-radius: 5px;
        font-size: 25px;
    }

    .kamar-content .kamar-col .kamar-spesifikasi .kamar-harga span , 
    .kamar-content .kamar-col .kamar-spesifikasi .kamar-jumlah-kasur p
    {
        font-size: 25px;
    }
    
    .kamar-content .kamar-col .kamar-spesifikasi .kamar-pembatas {
        width: 2px;
        height: 25px;
        background-color: #dddfe2;
    
    } 
    
    
    
    .kamar-content .kamar-col .kamar-deskripsi p {
        padding: 8px 15px;
        font-size: 27px;
        margin-top: 10px;
        font-weight: 400;
    }
    
    .kamar-content .kamar-col .pembatas hr {
        width: 97%;
        margin: 10px auto;
    }
    
    .kamar-content .kamar-col .kamar-booking a {
        padding: 8px 15px;
        text-decoration: none;
        color: var(--primary);
        font-size: 30px;
        margin-top: 2px;
        display: inline-block;
    }

    .kamar-content .kamar-col .kamar-img img {
        min-height: 400px;
    }

    .review .swiper  {
        width: 1150px;
        max-width: 1150px;
        height: 410px;
    }
    .review .swiper .swiper-wrapper .swiper-slide .swiper-content {
        flex-basis: 100%;
        height: 330px;
    }

    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-card-header img {
        width: 110px;
        height: 110px;
    }
    
    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-profile p {
        font-size: 25px;
        font-weight: 600;
    }

    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-rating ul li{
        font-size: 30px;
    }

    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-ulasan {
        margin-bottom: 10px;
    }

    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-ulasan p {
        font-size: 21px;
    }

    .review .swiper .swiper-button-prev,
    .review .swiper .swiper-button-next
     {
        display: none;
    }

  
    


    .kontak .kontak-content .kontak-label {
        flex-basis: 100%;
        height: 200px;
        gap: 30px;
    }

    .kontak .kontak-content .kontak-card-cta {
        gap: 30px;
    }

    .kontak .kontak-content .kontak-card-cta iframe {
        width: 100%;
        object-fit: cover;
        height: 500px;
    }

    .kontak .kontak-content .kontak-label .kontak-label-left img {
        width: 70px;
        height: 70px;
    }

    .kontak .kontak-content .kontak-label .kontak-label-right-title span,
    .kontak .kontak-content .kontak-label .kontak-label-right-alamat p
     {
        font-size: 35px;
    }

    .kontak .kontak-content .kontak-card-cta .kontak-card-form  {
        flex-basis: 100%;
    }

    .kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-card-form-title h2 {
        font-size: 40px;
    }

    .kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-card-form-deskripsi p {
        font-size: 25px;
    }

    .kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form input {
        height: 80px;
        font-size: 22px;
    }

    .kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form textarea
     {
        font-size: 22px;
    }

    .kontak .kontak-content .kontak-card-cta .kontak-card-form .kontak-form .btn-kirim a {
        font-size: 25px;
    }
    
}