*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 5000px;
}

:root {
    --primary: #0D7C66;
    --green-dark: #09614f;
    --abu: #dddfe2;
    
}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

.header {
    width: 100%;
}

.header nav {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.7);
    padding: 15px 30px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}


.header .nav-logo h1{
    font-family: 'Great Vibes',sans-serif;
    font-size: 30px;
    color: var(--primary);
    cursor: pointer;
}

.header .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74%;
    padding-left: 3rem;
}

.header .nav-links ul {
    display: flex;
    gap: 30px;
}

.header .nav-links ul li {
    list-style-type: none;
}

.header .nav-links ul li a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
}

.header .hamburger-menu i {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    display: none;
}

.header .nav-links ul li a:hover {
    color: var(--green-dark);
    transition: all 0.3s;
}

.header .btn-nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header .btn-nav .btn-register a{
    color: var(--primary);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
}

.header .btn-nav .btn-register a:hover {
    background-color: var(--primary);
    color: white;
    transition: all 0.5s;
}

.header .btn-nav .btn-login {
    background-color: var(--primary);
    padding: 8px 15px;
    border-radius: 5px;
}

.header .btn-nav .btn-login:hover {
    background-color: var(--green-dark);
    transition: all 0.3s;
}

.header .btn-nav .btn-login a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.header .hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8%;
    padding: 30px 30px;
    position: relative;
}

.header .hero-section .hero-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header .hero-section .text-box h2 {
    font-size:30px;
}

.header .hero-section .text-box span {
    color: var(--primary);
}

.header .hero-section .text-box p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}



.header .hero-section .img-hero img {
    width: 600px;
    height: auto;   
    border-radius: 8px;
    margin-left: 70px;
}

.header .hero-section .btn-start {
    margin-top: 20px;
    background-color: var(--primary);
    width: fit-content;
    padding: 15px 15px;
    border-radius: 5px;
}

.header .hero-section .btn-start:hover {
    background-color: var(--green-dark);
    transition: all 0.5s;
}

.header .hero-section .btn-start a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.header .hero-section .img-hero-depan img{
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 8px;
    right: 25%;
    bottom: -16%;
    border: 10px solid white;
}


/* Fasilitas */

.fasilitas,
 .kamar,
 .review,
 .kontak {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
}

.fasilitas .fasilitas-title h2 , 
.kamar .kamar-title h2,
.review .review-title h2,
.kontak .kontak-title h2{
    font-size: 35px;
}

.fasilitas .fasilitas-title span , 
.kamar .kamar-title span,
.review .review-title span,
.kontak .kontak-title span{
    color: var(--primary);
}

.fasilitas .fasilitas-content  {
    width: 1200px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 25px;
    flex-wrap: wrap; 
}



.fasilitas .fasilitas-content  .fasilitas-col {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
    height: 190px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.fasilitas .fasilitas-content  .fasilitas-col:hover {
    transform: scale(1.03);
}

.fasilitas .fasilitas-deskripsi-title p {
    font-weight: 600;
    max-width: 900px;
    text-align: center;
    margin-top: 10px;
}


.fasilitas .fasilitas-content .fasilitas-col .fasilitas-img img {
    width: 80px;
    height: 80px;
    border: 1px dashed var(--primary);
    border-radius: 50%;
    padding: 10px 15px;
}

.fasilitas .fasilitas-content .fasilitas-col .fasilitas-deskripsi p {
    margin-top: 10px;
    font-weight: 600;
    color: var(--primary);
    font-size: 20px;
}



/* Kamar */
.kamar .kamar-content {
    width: 1200px;
    max-width: 1200px;
    align-items: center;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.kamar .kamar-content .kamar-filter form{
    display: flex;
    gap: 20px;
    width: 800px;
    justify-content: center;
}

.kamar .kamar-content .kamar-filter input[type="checkbox"], 
#dropdown-kasur,
#dropdown-harga {
    display: none;
}

.kamar .kamar-content .kamar-filter label {
    width: 100%;
    display: flex;
    border: 1px solid var(--primary);
    text-align: left;
    padding: 8px 15px;
    height: 60px;
    align-items: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.kamar .kamar-content .kamar-filter label::after {
    content: '';
    width: 8px;
    aspect-ratio: 1/1;
    display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    transform: rotate(45deg);
    right: 7%;
}

.kamar .kamar-content .kamar-filter #kasur:checked ~ #dropdown-kasur,
.kamar .kamar-content .kamar-filter #harga:checked ~ #dropdown-harga {
    display: block;
    z-index: 10;
}

#dropdown-kasur {
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
    width: 300px;
    padding: 10px 15px;
    position: absolute;
    border-radius: 5px;
    right: 51%;
    margin-top: 80px;
}

#dropdown-harga {
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
    width: 300px;
    padding: 10px 15px;
    position: absolute;
    border-radius: 5px;
    right: 20.5%;
    margin-top: 80px;
}



#dropdown-kasur ul li ,
#dropdown-harga ul li{
    list-style-type: none;
    margin-bottom: 15px;
    padding: 8px 15px;
    border-bottom: 1px solid var(--abu);
}

#dropdown-kasur ul li a,
#dropdown-harga ul li a{
    color: black;
    text-decoration: none;
}


#dropdown-harga ul li a:hover,
#dropdown-kasur ul li a:hover {
    color: var(--primary);
}


.kamar-content .kamar-card {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: center;
    margin-top: 60px;
    gap: 25px;
}

.kamar-content .kamar-card .kamar-col {
    height: 460px;
    background-color: white;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.7);
    flex-basis: 27%;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.kamar-content .kamar-col .kamar-img img {
    width: 100%;
    object-fit: cover;
    height: 220px;
    border-radius: 5px;
}

.kamar-content .kamar-col .kamar-nama h5 {
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 600;
}

.kamar-content .kamar-col .kamar-spesifikasi {
    width: 100%;
    display: flex;
    padding: 8px 15px;
    gap: 15px;
    font-weight: 300;
}

.kamar-content .kamar-col .kamar-spesifikasi .kamar-rating span {
    background-color: var(--primary);
    color: white;
    padding: 3px 15px;
    border-radius: 5px;
}

.kamar-content .kamar-col .kamar-spesifikasi .kamar-pembatas {
    width: 2px;
    height: 25px;
    background-color: #dddfe2;

} 



.kamar-content .kamar-col .kamar-deskripsi p {
    padding: 8px 15px;
    font-size: 14px;
    margin-top: 10px;
}

.kamar-content .kamar-col .pembatas hr {
    width: 90%;
    margin: 10px auto;
}

.kamar-content .kamar-col .kamar-booking a {
    padding: 8px 15px;
    text-decoration: none;
    color: var(--primary);
}

.kamar-content .kamar-col .kamar-booking a:hover {
    color: var(--green-dark);
    transition: all 0.3s;
}


/* Review */
.review .swiper {
    width: 1200px;
    display: flex;
    margin-top: 10px;
    height: 350px;
}



.review .swiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.review .swiper .swiper-button-next,
.review .swiper .swiper-button-prev {
    color: var(--primary);
}

.review .swiper .swiper-pagination-bullet {
   background-color: var(--primary);
}




.review .swiper .swiper-wrapper .swiper-slide .swiper-content {
    flex-basis: 42%;
    height: 250px;
    padding: 20px 30px;
    margin-left: 15px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;   
    transition: all 0.3s;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content:hover {
    
    border-bottom: 6px solid var(--primary);
}



.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-card-header {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 300px;
    height: fit-content;
    align-items: center;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-card-header img {
    width: 80px;
    height: 80px;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-rating ul {
    display: flex;
    gap: 5px;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-rating ul li {
    list-style-type: none;
}

.review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-ulasan {
    padding: 10px 15px;
    margin-top: 8px;
}


/* Kontak */
.kontak .kontak-content {
    display: flex;
    width: 1100px;
    gap: 30px;
    justify-content: center;
    padding: 30px 30px;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
}

.kontak .kontak-content .kontak-cs,
.kontak .kontak-content .kontak-alamat {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.7);
    flex-basis: 42%;
    height: fit-content;
    padding: 30px 15px;
    align-items: center;
}

.kontak .kontak-content .kontak-cs .img-icon img,
.kontak .kontak-content .kontak-alamat .img-icon img {
    width: 80px;
    height: 80px;
    border: 3px solid var(--primary);
    border-radius: 50%;
    padding: 15px;
}

.kontak .kontak-content .kontak-cs-title {
    margin-top: 14px;
    padding: 8px 8px;
}

.kontak .kontak-content .kontak-cs-title h3 {
    font-size: 20px;
    color: var(--primary);
    font-weight: 600;
}

.kontak .kontak-content .kontak-cs-deskripsi p {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    padding: 8px 15px;
}

.kontak .kontak-content .kontak-cs-cta {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: relative;
}

.kontak .kontak-content .kontak-cs-cta .nomor-telepon a,
.kontak .kontak-content .kontak-cs-cta .alamat-email a {
    text-decoration: none;
    color: var(--primary);
}

.kontak .kontak-content .kontak-cs-cta .alamat-email i {
    position: absolute;
    left: 40%;
    top: 18%;
    font-size: 18px;
}



/* Media query */
@media(max-width: 600px) {


    .header .nav-logo h1 {
        font-size: 40px;
    }

    .header .nav-links {
        width: 50%;
    }
    

    .header .nav-links ul  {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 30px 30px;
        width: 250px;
        right: 3.5%;
        margin-top: 41%;
        display: none;
        background-color: var(--primary);
        height: fit-content;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.7);
        transition: display 0.4s;
    }

    .header .nav-links ul::after {
        content: '';
        position: absolute;
        top: -6%;
        right: 4%;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom: 30px solid var(--primary);
    }

    .header .nav-links ul li a {
        color: white;
        font-size: 25px;
    }

    .header .btn-nav .btn-register a,
    .header .btn-nav .btn-login a {
        font-size: 22px;
    }

    .header .btn-nav {
        padding: 8px 30px;
    }

    .header  .hamburger-menu i {
        display: block;
        font-size: 40px;
        padding: 15px 20px;
    }


    .header .hero-section {
        display: flex;
        min-width: 1200px;
        margin-top: 30%;
        justify-content: center;
    }

    .header .hero-section .hero-content {
        display: flex;
        flex-direction: column-reverse;
        width: 900px;
        align-items: start;
        padding: 15px 15px;
    }

    .header .hero-section .text-box h2, .fasilitas .fasilitas-title h2 {
        font-size: 45px;
        text-align: center;
        margin-top: 20px;
    }

    .header .hero-section .text-box p, .fasilitas .fasilitas-deskripsi-title p {
        font-size: 27px;
    }

    

    .header .hero-section .img-hero img {
        width: 800px;
        margin-left: 0;
    }

    .header .hero-section .img-hero-depan img {
        width: 400px;
        height: 400px;
        position: absolute;
        right: 5%;
        bottom: 40%;
    }

    .header .hero-section .btn-start a {
        font-size: 27px;
    }

    .fasilitas , 
    .kamar,
    .review{
        display: flex;
        flex-direction: column;
        min-width: 1200px;
        margin-top: 30%;
    }

    .fasilitas .fasilitas-content {
        display: flex;
        max-width: 100%;
        align-items: center;
    }

    .fasilitas .fasilitas-content .fasilitas-col {
        width: 250px;
        min-height: 250px;
    }

    .fasilitas .fasilitas-content .fasilitas-col .fasilitas-img img {
        width: 150px;
        height: 150px;
    }

    .kamar .kamar-content .kamar-filter {
        position: relative;
    }

    .kamar .kamar-content .kamar-filter label {
        font-size: 25px;
        height: 80px;
        font-weight: 600;
        
    }

    #dropdown-kasur {
        left: 11%;
        margin-top: 100px;
    }

    #dropdown-harga {
        right: 0;
        margin-top: 100px;
    }

    .kamar-content .kamar-card  {
        gap: 40px;
    }
    

    .kamar-content .kamar-card .kamar-col {
        flex-basis: 40%;
        height: 620px;
    }

    .kamar-content .kamar-col .kamar-nama h5 {
        padding: 8px 15px;
        font-size: 25px;
        font-weight: 600;
    }
    
    .kamar-content .kamar-col .kamar-spesifikasi {
        width: 100%;
        display: flex;
        padding: 8px 15px;
        gap: 15px;
        font-weight: 300;
    }
    
    .kamar-content .kamar-col .kamar-spesifikasi .kamar-rating span {
        background-color: var(--primary);
        color: white;
        padding: 3px 15px;
        border-radius: 5px;
        font-size: 22px;
    }

    .kamar-content .kamar-col .kamar-spesifikasi .kamar-harga span , 
    .kamar-content .kamar-col .kamar-spesifikasi .kamar-jumlah-kasur p
    {
        font-size: 22px;
    }
    
    .kamar-content .kamar-col .kamar-spesifikasi .kamar-pembatas {
        width: 2px;
        height: 25px;
        background-color: #dddfe2;
    
    } 
    
    
    
    .kamar-content .kamar-col .kamar-deskripsi p {
        padding: 8px 15px;
        font-size: 22px;
        margin-top: 10px;
        font-weight: 400;
    }
    
    .kamar-content .kamar-col .pembatas hr {
        width: 92%;
        margin: 10px auto;
    }
    
    .kamar-content .kamar-col .kamar-booking a {
        padding: 8px 15px;
        text-decoration: none;
        color: var(--primary);
        font-size: 23px;
        margin-top: 2px;
        display: inline-block;
    }

    .kamar-content .kamar-col .kamar-img img {
        min-height: 300px;
    }

    .review .swiper  {
        width: 1150px;
        height: 410px;
    }
    .review .swiper .swiper-wrapper .swiper-slide .swiper-content {
        flex-basis: 44%;
        height: 330px;
    }

    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-card-header img {
        width: 110px;
        height: 110px;
    }
    
    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-profile p {
        font-size: 25px;
        font-weight: 600;
    }

    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-rating ul li{
        font-size: 30px;
    }

    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-ulasan {
        margin-bottom: 10px;
    }

    .review .swiper .swiper-wrapper .swiper-slide .swiper-content .swiper-content-ulasan p {
        font-size: 21px;
    }

    .review .swiper .swiper-button-prev,
    .review .swiper .swiper-button-next
     {
        display: none;
    }
}